.crud-images {
	position: absolute;
	right: 0;
	margin-right: 25px;
	margin-top: 10px;
	border-radius: 15px;
	padding: 9px 4px 14px 4px;
	line-height: 0.5;
}

.crud-images span {
	font-size: 21px;
	padding: 2px;
	line-height: 0;
	color: #fff;
}

textarea.form-control {
	min-height: 320px;
}